{% extends 'layouts/base.html' %} 

{% block custom_head_tags %}
    <title>Jour de manif</title>
    <meta name="description" content="Carte collaborative. Lieux et horaires des manifs.">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://jour-de-manif.fr/static/images/jour-de-manif.png" />
{% endblock %}

{% block content %}
<div class="ui container center main">
    <h1 class="header">Liste des jours de manif</h1>

    <div class="ui segments">
        <a href="/22-mars" class="segment">
            <div style="margin: 10px;">
                <h3 class="header">Manifestation du 22 mars</h3>
                <p>en soutien aux cheminots, et contre la politique de Macron.</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
